BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
SpacesBeforeTrailingComments: 2
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
